body {
padding: 0;
margin: 0;


}

.ust {    float:left; width: 100%;  height: 15%;     position: fixed;    background: #FFFFFF;   }


.ig {
 
margin: 10 5 5 50;
float:left;
}


.c {  width:10px; height:60px; background: #00FF00; float:left;
margin: 10 5 5 10;

.d {
clear:both;


}
}

.eg {
float:left;
.eg1 {

float:left;
margin: ;


}

}
.ta {


float:left;
margin: 5 5 5 5;
width: 88%;
height:auto;
text-align:center;
}

.y{

margin: 15 5 5 10;
float:left;
font-size: 23px;

}

.g {
margin: 0 0 0 0;
float:buttom;


}
}








